nav.navbar {
    background-color:#6610f2;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 20% 0 20%;
}
.centrado{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
#about-me{
    display: flex;
    text-align: justify;
}

#about-me div{
flex:3;
}
