nav.navbar {
    background-color:#660066;
}


.info{
    background-image: url(../img/1535542_10204811363106073_8105499996062957388_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
    height: 90vh;
    color: whitesmoke;
    text-align: center;
   
}

@media (max-width: 991.98px) { 
    .info{
        width: 100%;
    }
}